[submodule "torchlpc"]
	path = torchlpc
	url = git@github.com:christhetree/torchlpc.git
[submodule "jtfst_implementation"]
	path = jtfst_implementation
	url = git@github.com:christhetree/jtfst_implementation.git
[submodule "ddsp-phaser"]
	path = ddsp-phaser
	url = git@github.com:christhetree/ddsp-phaser.git
[submodule "fadtk"]
	path = fadtk
	url = git@github.com:christhetree/fadtk.git
[submodule "torchsynth"]
	path = torchsynth
	url = git@github.com:christhetree/torchsynth.git
