aiohttp==3.11.16
auraloss==0.4.0
black==25.1.0
docstring-parser==0.16
dtw-python==1.5.3
encodec==0.1.1
hypy-utils==1.0.29
importlib-metadata==8.0.0
jaraco.collections==5.1.0
jsonargparse==4.38.0
lightning==2.5.1
matplotlib==3.10.1
msclap==1.3.3
nnaudio==0.3.3
nvitop==1.4.2
pip-chill==1.0.3
pytorch3d==0.7.8
resampy==0.4.3
schedulefree==1.4.1
shapely==2.1.0
tensorboard==2.19.0
typeshed-client==2.7.0
uv==0.6.14
wandb==0.19.9
